<div class="chat__header">

    <div onclick="showSideBar()" class="chat__header--back">
        <i class="fas fa-arrow-left"></i>
    </div>


    <div class="chat__header--user">
        <div class="chat__header--avatar">
            <img 
                id="receiver__photo"
                src = "https://image.similarpng.com/very-thumbnail/2020/05/WhatsApp-icon-PNG.png" 
                class="avatar"
            >
        </div>

        <div class="chat__header--info">
            <p id="receiver__name" >Select a friend to send Message</p>
            <span>Please don't spam in chat</span>
        </div>
    </div>
</div>


<div class="chat__body">
</div>

<div class="chat__footer">
    <form class="chat__footer--form" >
        <input
            type="text"
            id = 'form1'
            disabled = "true"
            autocomplete="off" 
            placeholder="Type message..."
        />

        <button 
            id = 'form2' 
            type="submit" 
        >
            <i class="fas fa-paper-plane"></i>
        </button>

    </form>
</div>