<div class="sidebar__header">
    <div class="sidebar__header--avatar">

        <img 
            id = 'profilePic'
            src = 'https://scontent.fcgp7-1.fna.fbcdn.net/v/t1.0-1/p240x240/118589703_1025868897884938_4756722051990937297_n.jpg?_nc_cat=105&ccb=2&_nc_sid=7206a8&_nc_eui2=AeGND08fnLT9_xk4yAYKaGJn2ujioMMe0zza6OKgwx7TPJOZtKu8I532frG8UBMFLtQEo0kIsWGSsGd0nFZrminD&_nc_ohc=tIU5WFPSpx0AX-uAdx4&_nc_ht=scontent.fcgp7-1.fna&tp=6&oh=cd1140fc59043f3ebdccc5cb4abb5cb3&oe=6044ED09'     
            alt="Avatar" 
            class="avatar"
        >
    </div>

    <button onclick="logout()" class="sidebar__logout">
        <p>Logout</p>
        <i class="fas fa-sign-out-alt"></i>
    </button>
</div>

<div class="sidebar__search">
    <div class="sidebar__search--container">
        <i class="fas fa-search"></i>
        <input
            placeholder="Search new chat room"
        />
    </div>
</div>

<button onclick="addNewChat()" class="sidebar__addchat">
    <h1>Add new friend</h1>
</button>

<div class="sidebar__roomlist">
</div>
